<style>
  
    .wrapper{
        overflow-x: hidden;
    }
        /* Custom styles for button hover effect */
        .btn-custom:hover {
          background-color: #007bff; /* Change background color on hover */
          color: #fff; /* Change text color on hover */
          border-color: #007bff; /* Change border color on hover */
        }
      </style>
    
    <div class="wrapper ">
        <!-- navbar -->
    <br>
    <div class="container-flex">
    <div class="ms-5 ">
        <div class="row">
          <div class="col-sm-3">
            <div>
                <h1 class="font-weight-bold">LEASIMPLE</h1>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="">
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control rounded-pill w-50 mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                 
                </form>
              </div>
          </div>
          <div class="col-sm-3">
            
            <div class="">
              <form class="form-inline my-2 my-lg-0">
                  <img src="" class="rounded-circle" alt="...">
                  <input class="form-control rounded-pill w-25  mr-sm-2" type="text" placeholder="Amit kumar" aria-label="text">
                  <i class="fa fa-bell fs-4 ms-4" aria-hidden="true"></i>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- side-scroll -->
    
    <br><br>
    
    <div class="container-flex">
        <div class="row ">
          <div class="col-sm-2">
            <div class="">
            <div>            
                <button type="button" class="btn  btn-custom w-100  "><i class="fa fa-home text-muted fs-4 " style="margin-right: 56px; "  aria-hidden="true"><a class="text-muted" href=""> Bids/Offers</a> </i> </button>
               
            </div>
            
            
                <div class="col-sm pt-5 ">
                    <button type="button" class="btn  btn-custom w-100 "><i class="fa fa-home text-muted fs-4" style="margin-right: 90px;" aria-hidden="true"> <a class="text-muted " href=""> Tenant</a></i></button>
                    
                  
                </div>
    
                <div class="col-sm pt-5">
                    <button type="button" class="btn  btn-custom w-100 "><i class="fa fa-commenting-o text-muted fs-4" style="margin-right: 93px;" aria-hidden="true"> <a class="text-muted" href=""> Chats</a></i></button>
                    
                    
                </div>
                <div class="col-sm pt-5">
                    <button type="button" class="btn  btn-custom w-100 "><i class="fa fa-sliders text-muted fs-4" style="margin-right: 90px;" aria-hidden="true"><a class="text-muted" href=""> Setting</a></i></button>
                   
                </div>
                <div class="col-sm pt-5">
                    <button type="button" class="btn  btn-custom w-100 "><i class="fa fa-life-ring text-muted fs-4" style="margin-right: 90px;" aria-hidden="true"> <a class="text-muted" href=""> Support</a></i></button>
                    
                </div>
                <div class="col-sm pt-5">
                    <button type="button" class="btn  btn-custom w-100 "><i class="fa fa-sign-out text-muted fs-4" style="margin-right: 90px;" aria-hidden="true"> <a class="text-muted" href=""> Logout</a></i></button>
                    
                </div>
    
               
            </div>        
            
          </div>
    
    
           <!-- Bids/Offer -->
        
          <div class="col-sm-10 border bg-light">
            <div class="">
                <div class="row">
                  <div class="col-sm-6 mt-5 ms-5" >
                    <h6>Bids / Offers > Modern City Condo</h6>
                    <h1 style="font-weight: bold;" >< Payment</h1>
                  </div>           
                </div>
              </div>
              <div class="container mt-3 ms-5">
                <div class="row">
                  <div class="col-12">
                    <h1>Ani kumar.</h1>
                    <p>anikumar.gmail.com</p>
                    <i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
                     <h6>CREDIT RATING</h6> 
                     <i class="fa fa-star-o" aria-hidden="true">675</i>
                     <h5>You need to make a payment of $120 to book this visit.</h5>
                     <button type="button" class="btn btn-warning btn-lg pt-3 w-25 text-muted mt-4">PAY WITH PAYPAL</button>
                </div>
                  
                </div>
              </div>