<div class="container-flex bidss">
    <div class="ms-5 ">
        <div class="row">
          <div class="col-sm-3">
            <div>
                <h1 class="font-weight-bold">LEASIMPLE</h1>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="">
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control rounded-pill w-50 mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                 
                </form>
              </div>
          </div>
          <div class="col-sm-3">
            
            <div class="">
              <form class="form-inline my-2 my-lg-0">
                  <img [src]="myImage2" class="rounded-circle" style="height: 10%; width: 10%;" alt="...">
                  <input class="form-control rounded-pill w-25  mr-sm-2" type="text" placeholder="Amit kumar" aria-label="text">
                  <i class="fa fa-bell fs-4 ms-4" aria-hidden="true"></i>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
