
        <div class="">
        <div>            
            <button type="button" class="btn  btn-custom w-100  fs-4"><i class="fa fa-home text-muted fs-3 " style="margin-right: 56px; "  aria-hidden="true"><a class="text-muted" href=""> Bids/Offers</a> </i> </button>
           
        </div>
        
        
            <div class="col-sm pt-5 ">
                <button type="button" class="btn  btn-custom w-100 fs-4"><i class="fa fa-home text-muted fs-3" style="margin-right: 90px;" aria-hidden="true"> <a class="text-muted " href=""> Tenant</a></i></button>
                
              
            </div>
  
            <div class="col-sm pt-5">
                <button type="button" class="btn  btn-custom w-100 fs-4"><i class="fa fa-commenting-o text-muted fs-3" style="margin-right: 93px;" aria-hidden="true"> <a class="text-muted" href=""> Chats</a></i></button>
                
                
            </div>
            <div class="col-sm pt-5">
                <button type="button" class="btn  btn-custom w-100 fs-4"><i class="fa fa-sliders text-muted fs-3" style="margin-right: 90px;" aria-hidden="true"><a class="text-muted" href=""> Setting</a></i></button>
               
            </div>
            <div class="col-sm pt-5">
                <button type="button" class="btn  btn-custom w-100 fs-4"><i class="fa fa-life-ring text-muted fs-3" style="margin-right: 90px;" aria-hidden="true"> <a class="text-muted" href=""> Support</a></i></button>
                
            </div>
            <div class="col-sm pt-5">
                <button type="button" class="btn  btn-custom w-100 fs-4"><i class="fa fa-sign-out text-muted fs-3" style="margin-right: 90px;" aria-hidden="true"> <a class="text-muted" href=""> Logout</a></i></button>
                
            </div>
  
           
        </div>        
        
      
  
